.ContactLink {
  list-style-type: none;
  position: relative;
  top: -20px;
  padding-left: 2px;
}

.Icon {
  position: relative;
  font-size: 35px !important;
  margin: 0 10px 10px 0;
  top: 22.5px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.ContactLinksContainer {
  margin-left: 5%;
}